version: '3.9'

services:

  postgres:
    image: postgres:17
    container_name: postgres_for_events
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: some_events
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbit:
    image: heidiks/rabbitmq-delayed-message-exchange:latest
    container_name: rabbit_for_events
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  publisher:
    pull_policy: never
    image: publisher:latest
    container_name: publisher
    depends_on:
      postgres:
        condition: service_healthy
      rabbit:
        condition: service_healthy
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/some_events
      DB_USERNAME: postgres
      DB_PASSWORD: 1234
      SPRING_RABBITMQ_HOST: rabbit
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: admin
      SPRING_RABBITMQ_PASSWORD: password
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    ports:
      - "8080:8080"

  consumer:
    pull_policy: never
    image: consumer:latest
    container_name: consumer
    depends_on:
      rabbit:
        condition: service_healthy
    environment:
      SPRING_RABBITMQ_HOST: rabbit
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: admin
      SPRING_RABBITMQ_PASSWORD: password
    ports:
      - "8081:8080"

volumes:
  postgres_data:
